#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
body {
  max-width: 100%;
  max-height: 100%;
  /* background-color: #000000; */
  background-image: url('images/9419a8a4-8268-4e4d-a1eb-8e263819d52e.webp');
  background-repeat: no-repeat;
  background-size: cover; /* или 'contain', в зависимости от того, как хотите, чтобы картинка заполняла пространство */
  background-position: center; /* Центрирует картинку */
  background-attachment: fixed; /* Оставляет фон фиксированным при прокрутке */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона с полупрозрачным черным */
  z-index: -1; /* Псевдоэлемент находится под содержимым */
}

a,
.green {
  text-decoration: none;
  color: rgb(41, 11, 21);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(295, 88%, 26%, 0.2);
  }
}
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  min-height: 50px; /* Устанавливает минимальную высоту */
  /* background: linear-gradient(0.2deg, black, rgb(15, 112, 15) 50%, black); */
  background: linear-gradient(rgb(23, 23, 27), rgb(12, 10, 10));
  opacity: 94%;
  border-radius: 20px 20px 0 0;
}

.footer-container {
  display: flex;
  justify-content: center; /* Равномерно распределяет элементы по горизонтали */
  align-items: center;
  width: 100%;
  grid-gap: 50px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.footer-text {
  font-size: 12px;
  font-weight: 600;
  color: #e2dbdb;
}
